<div class="dashboard">
  <div class="row">
    <div class="col-lg-10 col-sm-10">
      <div class="top-menu-block">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['/lampsman']" >Search</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/lampsman/create']" >Create</a>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-12 cards-section">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="col-lg-2 right-cards right-card-block">
      <sm-asset-type-board></sm-asset-type-board>
<!--      <sm-last-seen-board></sm-last-seen-board>
      <sm-assignments-board class="relative"></sm-assignments-board>
      <sm-movements-board></sm-movements-board>
      <sm-measurements-board></sm-measurements-board>-->
    </div>
  </div>

</div>
