<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Column -->
    <ng-container *ngFor="let col of resultSet.fields" matColumnDef="{{col.name}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{col.title}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngFor="let column of row.cols">
          <ng-container *ngIf="column.name === col.name">
            <ng-container *ngIf="col.systemType === 'DATE'; else displayValue">
              {{column.value | date: col.pattern}}
            </ng-container>
            <ng-template #displayValue>{{column.value}}</ng-template>
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="dataSource.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 25, 50, 100, 250]">
  </mat-paginator>
</div>
