<div class="modal-header">
  <h4 class="modal-title">Assignment History for {{asset.assetType?.description}} - {{asset.assetId}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>One fine body&hellip;</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="activeModal.close('Close click')">Create</button>
</div>
