<div class="modal-header">
  <h4 class="modal-title">Confirm De-Allocation {{assignment?.asset.type.description}} - {{assignment?.asset.assetId}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <p style="font-size: 16px;"><br>Are you sure you want to de-assign {{assignment?.asset.type.description}} {{assignment?.asset.assetId}} from <strong>{{assignment?.person.attr | map: 'names'}} - {{assignment?.person.personId}}</strong>?</p>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-primary" (click)="activeModal.close(false)">Close</button>
  <button type="submit" class="btn btn-danger" (click)="activeModal.close(true)">deallocate</button>
</div>
