<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sm-navbar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="sm-navbar">
  <ul class="navbar-nav mr-auto">

    <li class="nav-item dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle title-block" id="dropdown01" ngbDropdownToggle>{{menuTitle}}</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
        <a class="dropdown-item" href="#" (click)="setMenuTitle('Admini')">Admin</a>
        <a class="dropdown-item" href="#" (click)="setMenuTitle('Lampsman Dashboard')">Lampsman Dashboard</a>
        <a class="dropdown-item" href="#" (click)="setMenuTitle('Monitoring and Paging')">Monitoring and Paging</a>
        <a class="dropdown-item" href="#" (click)="setMenuTitle('Repairs')">Repairs</a>
        <a class="dropdown-item" href="#" (click)="setMenuTitle('Reports')">Reports</a>
      </div>
    </li>
  </ul>
  <!--    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
</div>
