<div class="top-menu-block">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" [routerLink]="['/reports/lms/repair']" >Asset Repair History</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/reports/lms/repair/status']" >Status Change Report</a>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-md-12 cards-section">
    <router-outlet></router-outlet>
  </div>
</div>
