<div class="card-container">
  <div class="card card-primary search-person-card">
    <div class="card-heading">
      <h3 class="card-title">
        <div class="advanced_indicator" [hidden]="advancedView">
          <img src="./assets/images/advanced_icon.png" (click)="toggleSimpleAdvanced()" style="cursor: pointer">
        </div>
        <div class="advanced_indicator" [hidden]="simpleView">
          <img src="./assets/images/normal_icon.png" (click)="toggleSimpleAdvanced()" style="cursor: pointer">
        </div>
        <img src="./assets/images/si8.png" class="card_top_icon">
        <!--<div class="si8"></div>-->
        Search Person
      </h3>
    </div>
    <div class="card-body">
      <form [formGroup]="searchPersonForm" (submit)="searchPerson(searchPersonForm.value)" class="form-horizontal">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4 field-label-responsive">
                <label for="name">Name</label>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input type="text" name="name" class="form-control" id="name"
                           placeholder="Surname and Initials" formControlName="name" required autofocus>
                  </div>
                </div>
              </div>

              <div class="col-md-4 field-label-responsive">
                <label for="companyNo">Company No</label>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input type="text" class="form-control" id="companyNo"
                           placeholder="Company / Employee Number" formControlName="companyNo">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6" [hidden]="simpleView">
            <div class="row">
              <div class="col-md-4 field-label-responsive">
                <label for="personType">Person Type</label>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <select class="form-control" id="personType" formControlName="personType">
                      <option value="" [selected]="true">[Please Select]</option>
                      <option *ngFor="let ptype of personTypes | async" [value]="ptype.name">{{ptype.description}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-4 field-label-responsive">
                <label for="idNo">Identity No</label>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input type="text" name="name" class="form-control" id="idNo"
                           placeholder="Identity / Passport No." formControlName="identityNo">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>

  <div class="card card-primary custom-card" [hidden]="!showSearchResults">
    <div class="card-heading">
        <h3 class="card-title">
          <img src="./assets/images/si8.png" class="card_top_icon">
          Person Search Results
        </h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <!--<table id="personSearchResultsTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border table-hover report-table data_table">
          <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Person ID</th>
            <th scope="col">Surname & Initials</th>
            &lt;!&ndash;<th scope="col">Occupation</th>&ndash;&gt;
            <th scope="col">Shaft</th>
            <th scope="col">Shift</th>
          </tr>
          </thead>
          <tbody>
          <tr #tr *ngFor="let result of (searchResults | async); let i = index;" (click)="selectPerson(result)">
            <th scope="row">{{i + 1}}</th>
            <td>{{result.personId}}</td>
            <td>{{result.attr | map: 'names'}}</td>
            &lt;!&ndash;<td>{{result.occupation}}</td>&ndash;&gt;
            <td>{{result.attr | map: 'site-name'}}</td>
            <td>{{result.attr | map: 'shift'}}</td>
          </tr>
          </tbody>
        </table>-->
<!--        <div class="spinner-container" *ngIf="dataSource.loadingPersons | async">
          <mat-spinner></mat-spinner>
        </div>-->
<!--        <mat-table class="row-border table-hover report-table data_table mat-elevation-z8" [dataSource]="dataSource"
                   matSort matSortActive="personId" matSortDirection="asc" matSortDisableClear>

          <ng-container matColumnDef="seqNo">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let person">1</mat-cell>
          </ng-container>

          <ng-container matColumnDef="personId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Person ID</mat-header-cell>
            <mat-cell class="description-cell"
                 *matCellDef="let person">{{person.personId}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="names">
            <mat-header-cell *matHeaderCellDef>Surname & Initials</mat-header-cell>
            <mat-cell class="duration-cell"
                 *matCellDef="let person">{{person.attr | map: 'names'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="shaft">
            <mat-header-cell *matHeaderCellDef>Shaft</mat-header-cell>
            <mat-cell class="duration-cell"
                 *matCellDef="let person">{{person.attr | map: 'site-name'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="shift">
            <mat-header-cell *matHeaderCellDef>Shift</mat-header-cell>
            <mat-cell class="duration-cell"
                 *matCellDef="let person">{{person.attr | map: 'shift'}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectPerson(row)"></mat-row>

        </mat-table>

        <mat-paginator [length]="person?.personsCount" [pageSize]="10"
                       [pageSizeOptions]="[ 5, 10, 25, 50, 100]"></mat-paginator>-->
        <sm-person-search-results></sm-person-search-results>
      </div>
    </div>

  </div>
</div>

