<div class="">
  <div class="card card-primary right-card-block" style="width:100%" id="assets-last-seen-card">
    <div class="card-body">
      <table class="table">
        <thead style="cursor: pointer" (click)="assetsLastSeen = !assetsLastSeen">
        <tr>
          <th>Assets Last Seen</th>
          <th class="show-on-expand">Total</th>
          <th class="td-dropdown" colspan="3"><i class="fa fa-angle-{{ !assetsLastSeen ? 'down' : 'up'}}" aria-hidden="true"></i></th>
        </tr>
        </thead>
        <tbody [hidden]="!assetsLastSeen">
        <tr *ngFor="let data of lastSeenStatistics">
          <td><a href="#">{{data.name}}</a></td>
          <td class="text-right">{{data.total}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
