<div class="card-top-button">
  <button class="btn btn-default">
    <img src="./assets/images/sai3.png" class="sai3">
  </button>
  <button class="btn btn-default">
    <img src="./assets/images/sai4.png" class="sai4">
  </button>
</div>
<div class="modal-header">
  <h4 class="modal-title">Equipment Summary</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="padding: 0;">
  <div class="informative_table">
    <table>
      <thead>
      <tr>
        <th>Sentinel-GDI<br>Operational</th>
        <th><br>Number</th>
        <th>Rescue Park<br>Operational</th>
        <th><br>Number</th>
        <th>GDI Enviro<br>Operational</th>
        <th><br>Number</th>
        <th>Cap Lamp<br>Operational</th>
        <th><br>Number</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Assigned Spares</td>
        <td>22</td>
        <td>Assigned Spares</td>
        <td>22</td>
        <td>Assigned Spares</td>
        <td>22</td>
        <td>Assigned Spares</td>
        <td>22</td>
      </tr>

      <tr>
        <td>Available Spares</td>
        <td>560</td>
        <td>Available Spares</td>
        <td>560</td>
        <td>Available Spares</td>
        <td>560</td>
        <td>Available Spares</td>
        <td>560</td>
      </tr>

      <tr>
        <td>Assigned Permanent</td>
        <td>3600</td>
        <td>Assigned Permanent</td>
        <td>3600</td>
        <td>Assigned Permanent</td>
        <td>3600</td>
        <td>Assigned Permanent</td>
        <td>3600</td>
      </tr>

      <tr>
        <td>Available Permanent</td>
        <td>53</td>
        <td>Available Permanent</td>
        <td>53</td>
        <td>Available Permanent</td>
        <td>53</td>
        <td>Available Permanent</td>
        <td>53</td>
      </tr>

      <tr>
        <td>Total</td>
        <td>5213</td>
        <td>Total</td>
        <td>5213</td>
        <td>Total</td>
        <td>5213</td>
        <td>Total</td>
        <td>5213</td>
      </tr>
      <tr class="sub_heading_top sub_heading_bottom">
        <td>Non-Operational</td>
        <td>Number</td>
        <td>Non-Operational</td>
        <td>Number</td>
        <td>Non-Operational</td>
        <td>Number</td>
        <td>Non-Operational</td>
        <td>Number</td>
      </tr>
      <tr>
        <td>Repairs</td>
        <td>31</td>
        <td>Repairs</td>
        <td>31</td>
        <td>Repairs</td>
        <td>31</td>
        <td>Repairs</td>
        <td>31</td>
      </tr>
      <tr>
        <td>Off-Site Repairs</td>
        <td>15</td>
        <td>Off-Site Repairs</td>
        <td>15</td>
        <td>Off-Site Repairs</td>
        <td>15</td>
        <td>Off-Site Repairs</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Quarantined</td>
        <td>315</td>
        <td>Quarantined</td>
        <td>315</td>
        <td>Quarantined</td>
        <td>315</td>
        <td>Quarantined</td>
        <td>315</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>361</td>
        <td>Total</td>
        <td>361</td>
        <td>Total</td>
        <td>361</td>
        <td>Total</td>
        <td>361</td>
      </tr>
      <tr class="sub_heading_top">
        <td>Operational</td>
        <td>4875</td>
        <td>Operational</td>
        <td>4875</td>
        <td>Operational</td>
        <td>4875</td>
        <td>Operational</td>
        <td>4875</td>
      </tr>
      <tr class="sub_heading_bottom">
        <td>Non-Operational</td>
        <td>361</td>
        <td>Non-Operational</td>
        <td>361</td>
        <td>Non-Operational</td>
        <td>361</td>
        <td>Non-Operational</td>
        <td>361</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>5236</td>
        <td>Total</td>
        <td>5236</td>
        <td>Total</td>
        <td>5236</td>
        <td>Total</td>
        <td>5236</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="activeModal.close('Close')">Close</button>
</div>
