<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event.eventTime | date : 'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
    </ng-container>

    <!-- Event Type Column -->
    <ng-container matColumnDef="eventType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Event Type</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event?.type?.description}}</mat-cell>
    </ng-container>

    <!-- Asset ID Column -->
    <ng-container matColumnDef="assetId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Equipment ID</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event?.asset?.assetId}}</mat-cell>
    </ng-container>

    <!-- Asset Type Column -->
    <ng-container matColumnDef="assetType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Equipment Type</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event?.asset?.type.description}}</mat-cell>
    </ng-container>

    <!-- Person Column -->
    <ng-container matColumnDef="personId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Person ID</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event?.person?.personId}}</mat-cell>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event?.location?.description}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let event; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100, 250]">
  </mat-paginator>
</div>
