<div class="version-details">
  <span>Version: {{systemDetails?.version}}</span>
  <span>Shaft: {{systemDetails?.organisation}}</span>
  <span>Last Updated: {{systemDetails.lastUpdated | date: 'yyyy-MM-dd HH:mm'}}</span>
</div>
