<div class="card-container grey-bordered custom-card " *ngIf="showCard | async">
  <div class="card card-primary person-info-card">
    <div class="card-heading">
      <div class="card-top-button">
        <button class="btn btn-default">
          <img src="./assets/images/sai3.png" class="sai3">
        </button>
        <button class="btn btn-default">
          <img src="./assets/images/sai4.png" class="sai4">
        </button>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="card-title">
            <img src="./assets/images/ssi5.png" class="card_top_icon">
            Recently Created Personel
          </h3>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table row-border hover report-table data_table">
          <thead>
          <tr class="first-row">
            <th>Person ID</th>
            <th>Surname & Initials</th>
            <th>Occupation</th>
            <th>Shift</th>
            <th>Option</th>
          </tr>
          </thead>
          <tbody>
          <tr class="last-row" *ngFor="let person of persons | async">
            <td class="small_text">{{person.personId}}</td>
            <td class="small_text">{{person.name}}</td>
            <td class="small_text">{{person.occupation}}</td>
            <td class="small_text">{{person.shift}}</td>
            <td>
              <div class="table_options">
                <img (click)="allocate()" src="./assets/images/Assign-Icon-37x37.png" title="view details" alt="Assign" class="sbi8" />
                <img (click)="viewDetails('person')" src="./assets/images/View-Details-Icon-37x37.png" title="view details" alt="view details" class="sbi8" />
                <img (click)="modify('person')" src="./assets/images/Modify-Icon-37x37.png" title="modify" alt="modify" class="sbi8" />
                <img (click)="repairHistory()" src="./assets/images/Repair-Icon-37x37.png" title="repair history" alt="repair history" class="sbi8" />
                <img (click)="allocationHistory()" src="./assets/images/Allocation-Icon-37x37.png" title="allocate history" alt="allocate history" class="sbi8" ng-click="vm.confirmPopup()" />
                <img (click)="confirmPopup()" src="./assets/images/si3.png" title="delete" alt="delete" class="hide" />
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
