<!--<div class="card-container custom-card">
  <div class="card card-primary create-cards">

    <div class="card-body" style="padding: 0">

&lt;!&ndash;      <div class="create-cards">
        <ul class="nav nav-pills nav-justified ">
          <li>
            <a href="javascript:void(0)" [ngClass]="{'active': showEquipmentElements}" (click)="changeTab('equipment')">
              <div class="icon-circled">
                <span class="glyphicon icon-blocks"></span>
              </div>
              CREATE EQUIPMENT
            </a>
          </li>

          <li>
            <a href="javascript:void(0)" [ngClass]="{'active': showPersonElements}" (click)="changeTab('person')">
              <div class="icon-circled">
                <span class="glyphicon icon-profile"></span>
              </div>
              CREATE PERSON
            </a>
          </li>
        </ul>
      </div>&ndash;&gt;

      &lt;!&ndash; equipment &ndash;&gt;
&lt;!&ndash;      <div *ngIf="showEquipmentElements">
        <div class="card-primary">
          <div class="card-heading">
            <h3 class="card-title">
              <span class="glyphicon icon-blocks"></span>
              EQUIPMENT CREATION
            </h3>
          </div>
          <div class="card-body">
            <div class="form-horizontal form-group">
              <div class="col-lg-4">
                <label class="control-label">Equipment Type</label>
              </div>
              <div class="col-lg-6">
                <select class="form-control"  #t (change)="equipmentTypeSelected(t.value)" [(ngModel)]="selectedEquipmentType">
                  <option value="">Select Type</option>
                  <option *ngFor="let equipType of equipmentTypes | async" [value]="equipType.name">{{equipType.description}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>&ndash;&gt;

&lt;!&ndash;      <div *ngIf="showPersonElements">
        <div class="card-primary">
          <div class="card-heading">
            <h3 class="card-title">
              <span class="glyphicon icon-profile"></span>
              PERSON CREATION
            </h3>
          </div>
          <div class="card-body">
            <div class="form-horizontal form-group">
              <div class="col-lg-4">
                <label class="control-label">Person Type</label>
              </div>
              <div class="col-lg-6">
                <select class="form-control" #t (change)="personTypeSelected(t.value)" id="personType">
                  <option value="">Select Type</option>
                  <option *ngFor="let personType of personTypes | async" [value]="personType.name">{{personType.description}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>&ndash;&gt;
    </div>
  </div>
</div>-->

