<div class="modal-header">
  <h4 class="modal-title">Create New {{assetType?.description}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="createAssetForm" (submit)="createAsset(createAssetForm.value)">
    <div class="row">
      <div class="col-md-4 ">
        <label for="type" class="required">Asset Type</label>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
<!--            <select class="form-control" id="type" formControlName="type" disabled>
              <option value="" [selected]="true">{{assetType?.description}}</option>
            </select>-->
            <input type="text" readonly class="form-control-plaintext" id="type" value="{{assetType?.description}}">
          </div>
        </div>
      </div>

      <div class="col-md-4 field-label-responsive">
        <label for="id" class="required">Asset ID</label>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" name="name" class="form-control" id="id"
                   placeholder="Asset ID" formControlName="assetId" required autofocus>
          </div>
        </div>
      </div>

      <ng-container formArrayName="attributeMap">
        <ng-container *ngFor="let attribute of (assetType.attributes | sortBy: 'index'); let i=index">
          <ng-container *ngIf="attribute?.type.systemType==='STRING'">

            <div class="col-md-4 field-label-responsive">
              <label>{{attribute?.description}}</label>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <input type="text" name="name" class="form-control"
                         placeholder="{{attribute?.description}}" formControlName="{{attribute?.name}}">
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="attribute?.type.systemType==='DATE'">

            <div class="col-md-4 field-label-responsive">
              <label>{{attribute?.description}}</label>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <input type="text" name="name" class="form-control"
                         placeholder="yyyy-mm-dd" formControlName="{{attribute?.name}}" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-addon" style="width: 2.6rem; height: 29px;" (click)="d.toggle()"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="attribute?.type.systemType==='BOOLEAN'">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox" style="width: auto;" formControlName="{{attribute?.name}}">
                  {{attribute?.description}}
                </label>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="attribute?.type.systemType==='OPTION_LOOKUP'">
            <div class="col-md-4 ">
              <label>{{attribute?.description}}</label>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <select class="form-control" formControlName="{{attribute?.name}}">
                    <option value="{{attribute?.name}}" [selected]="true">{{attribute?.description}}</option>
                  </select>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="attribute?.type.systemType==='TAG'">

            <div class="col-md-4 field-label-responsive">
              <label>{{attribute?.description}}</label>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <input type="text" class="form-control"
                         placeholder="{{attribute?.description}}" formControlName="{{attribute?.name}}">
                </div>
              </div>
            </div>
          </ng-container>

        </ng-container>
      </ng-container>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success" (click)="createAsset(createAssetForm.value)">Create</button>
</div>
<!--
(click)="activeModal.close('Close click')"-->
