<div class="modal-header">
  <h4 class="modal-title">Allocate {{asset.type.description}} - {{asset.assetId}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <p style="font-size: 16px;">You have successfully created the following asset:<br> <strong>{{asset.type.description}} - {{asset.assetId}}</strong><br>Would you like to assign it to <strong>{{person.name}} - {{person.personId}}</strong>?</p>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-info" (click)="activeModal.close('Close')">Close</button>
  <button type="submit" class="btn btn-success" (click)="allocate()">Allocate</button>
</div>
