<!-- second left card -->
<script src="../../lampsman.module.ts"></script>
<div class="card-container esc-block search-equipment-card">
  <div class="custom-card">
    <div class="card card-primary nmb nbb nbc">
      <div class="card-heading">
        <h3 class="card-title">
          <span class="glyphicon glyphicon-search card_indicator" aria-hidden="true"></span>
          <img src="./assets/images/si1.png" class="card_top_icon">
          <span class="advanced_indicator" [hidden]="advancedView">
            <img src="./assets/images/advanced_icon.png" (click)="toggleSimpleAdvanced()" style="cursor: pointer">
          </span>
          <span class="advanced_indicator" [hidden]="simpleView">
            <img src="./assets/images/normal_icon.png" (click)="toggleSimpleAdvanced()" style="cursor: pointer">
          </span>
          EQUIPMENT SEARCH
        </h3>
      </div>
      <div class="card-body">
        <form [formGroup]="searchAssetForm" (submit)="searchAsset(searchAssetForm.value)">
          <div class="row">
            <div class="col-sm-6">

              <div class="row">
                <div class="col-sm-4"><label>Asset Type</label></div>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="assetType" (change)="onTypeChanged($event.target.value)">
                    <option value="" [selected]="true">[Please Select]</option>
                    <option *ngFor="let option of assetTypes | async" [value]="option.name">{{option.description}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4"><label>Asset ID</label></div>
                <div class="col-sm-8"><input type="text" class="form-control" formControlName="assetId" placeholder="Asset ID"></div>
              </div>

              <div class="row" [hidden]="!advancedView">
                <div class="col-sm-4 field-label-responsive"><label>Attribute Name</label></div>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="attributeName">
                    <option value="" [selected]="true">[Please Select]</option>
                    <option *ngFor="let attrName of assetTypeAttributes" [value]="attrName.name">
                      {{attrName.description}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row" [hidden]="!advancedView">
                <div class="col-sm-4"><label class="required">Attribute Value</label></div>
                <div class="col-sm-8"><input type="text" class="form-control" formControlName="attributeValue"></div>
              </div>

              <div class="row">
                <div class="col-sm-4"><label>Max Results</label></div>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="maxResults">
                    <option value="100" [selected]="true">[Please Select]</option>
                    <option *ngFor="let option of maxResultsOptions" value="{{option}}" [selected]="option == 100">{{option}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6" [hidden]="!advancedView">


              <div class="row">
                <div class="col-sm-4"><label>Status</label></div>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="status">
                    <option value=":default" [selected]="true">[Please Select]</option>
                    <option value=":maintenance">[Any Maintenance]</option>
                    <option *ngFor="let option of statusOptions" value="{{option.name}}">{{option.description}}</option>
                    <option value=":all">[All]</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4"><label>Spare</label></div>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="spareIndicator">
                    <option value="" [selected]="true">[Please Select]</option>
                    <option value="true" >Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4"><label>Tracked</label></div>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="tracked">
                    <option value="" [selected]="true">[Please Select]</option>
                    <option value="true" >Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4"><label>Allocated</label></div>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="allocated">
                    <option value="" [selected]="true">[Please Select]</option>
                    <option value="true" >Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4"><label>Tagged</label></div>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="tagged">
                    <option value="" [selected]="true">[Please Select]</option>
                    <option value="true" >Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>


<!--              <div class="row">
                <div class="col-sm-4"><label>Shift</label></div>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="shift">
                    <option value="" [selected]="true">[Please Select]</option>
                    <option *ngFor="let option of shiftOptions" value="{{option.id}}">{{option.name}}</option>
                  </select>
                </div>
              </div>-->

            </div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" style="width: auto;">
                  Partial Match
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div  class="text-right">

              </div>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Search</button>

          <div class="row mt-2">
            <div class="col-lg-6">
              <h3 class="blue_title">Passive Tag</h3>
              Reader Location
              <div class="row">
                <div class="input-col col-sm-12">
                  <select class="form-control" (change)="passiveTagReaderLocationChanged($event.target.value)">
                    <option value="">[Please Select]</option>
                    <option *ngFor="let reader of passiveTagReaders" [value]="reader.name" [selected]="reader.name === selectedPassiveTagReader?.name ? true: false">{{reader.description}}</option>
                  </select>
                </div>

                <div class="col-sm-12">
                  <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input type="text" name="name" class="form-control" placeholder="Passive Tag">
                    <button type="button" class="btn btn-primary" title="Scan" alt="Scan"  style="width: 1.2rem; height: 29px; cursor: pointer;" (click)="scanPassiveTags()"><i class="fa fa-feed"></i> </button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="blue_title">Active Tag</h3>
              Reader Location
              <div class="row">
                <div class="input-col col-sm-12">
                  <select class="form-control">
                    <option value="" selected>[Please Select]</option>
                    <option *ngFor="let reader of activeTagReaders" value="{{reader.name}}">{{reader.description}}</option>
                  </select>
                </div>

                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <input type="text" name="name" class="form-control" placeholder="Active Tag">
                      <button type="button" class="btn btn-primary" title="Scan" alt="Scan"  style="width: 1.2rem; height: 29px; cursor: pointer;" (click)="scanPassiveTags()"><i class="fa fa-feed"></i> </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- equipment-search results-->
  <div class="card-container">
    <div class="custom-card card card-primary ntc" id="equipment_search_results">
      <div class="card-heading">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="card-title">
              <span class="glyphicon glyphicon-search card_indicator" aria-hidden="true"></span>
              <img src="./assets/images/si1.png" class="card_top_icon">
              EQUIPMENT SEARCH RESULTS
            </h3>
          </div>

        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
<!--          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggerAsset" class="row-border table-hover report-table data_table">
            <thead>
            <tr class="first-row">
              <th>ID</th>
              <th>Asset Type</th>
              &lt;!&ndash;<th>Assignment Type</th>&ndash;&gt;
              <th>Status</th>
              <th>Assigned</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asset of assetSearchResults | async" (dblclick)="selectAsset(asset)" class="last-row">
              <td class="small_text">{{asset.assetId}}</td>
              <td class="small_text">{{asset.type?.description}}</td>
              &lt;!&ndash;<td class="small_text">{{asset.assignmentType}}</td>&ndash;&gt;
              <td class="small_text">{{asset.status}}</td>
              <td class="small_text">{{asset.allocStatus}}</td>
              <td>
                <div class="table_options">
                  &lt;!&ndash;<span><i *ngIf="asset.allocStatus === 'allocated' || asset.allocStatus === 'temp-alloc'" class="fa fa-check-square-o fa-2x text-success" aria-hidden="true"></i></span>&ndash;&gt;
                  <img *ngIf="asset.allocStatus === 'allocated' || asset.allocStatus === 'temp-alloc'" (click)="deallocate(asset)" src="./assets/images/DeAssign-Icon-37x37.png" title="Select Asset" alt="Assign" class="sbi8" />
                  <img  *ngIf="!(asset.allocStatus === 'allocated' || asset.allocStatus === 'temp-alloc')" (click)="allocate(asset)" src="./assets/images/Assign-Icon-37x37.png" title="Assign" alt="Assign" class="sbi8" />
                  <img (click)="viewDetails(asset)" src="./assets/images/View-Details-Icon-37x37.png" title="view details" alt="view details" class="sbi8" />
                  <img (click)="modify(asset)" src="./assets/images/Modify-Icon-37x37.png" title="modify" alt="modify" class="sbi8" />
                  <img (click)="repairHistory(asset)" src="./assets/images/Repair-Icon-37x37.png" title="repair history" alt="repair history" class="sbi8" />
                  <img (click)="allocationHistory(asset)" src="./assets/images/Allocation-Icon-37x37.png" title="allocate history" alt="allocate history" class="sbi8" ng-click="vm.confirmPopup()" />
                </div>
              </td>
            </tr>
            </tbody>
          </table>-->
          <sm-asset-search-results></sm-asset-search-results>
        </div>
      </div>
    </div>
  </div>
</div>
