<div class="row">
  <div class="col-lg-6">
    <!--<sm-create-choice></sm-create-choice>-->
    <sm-choice></sm-choice>
    <sm-create-asset *ngIf="showAssetForm | async" [assetType]="assetType"></sm-create-asset>
    <sm-create-person *ngIf="showPersonForm | async" [personType]="personType"></sm-create-person>
  </div>
  <div class="col-lg-6">
    <sm-minerbody></sm-minerbody>
    <sm-recently-created-assets></sm-recently-created-assets>
    <sm-recently-created-persons></sm-recently-created-persons>
  </div>
</div>

