<div class="top-menu-block">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" [routerLink]="['/reports']" >Asset Allocation Register</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/reports/lms/allocation/unallocated']" >Unallocated Assets</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/reports/lms/allocation/history/asset']" >Asset Allocation History</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/reports/lms/allocation/history/person']" >Person Allocation History</a>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-md-12 cards-section">
    <router-outlet></router-outlet>
  </div>
</div>
