<div class="card card-primary assigned-equipment-card ntc" [ngClass]="{'green': focus}"  id="assigned_equipment_card">
  <div class="card-heading">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-right-button text-right pull-right" hidden>
          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi10.png">
          </button>
          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi12.png">
          </button>
          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi13.png">
          </button>
          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi14.png">
          </button>
          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi12.png">
          </button>
          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi8.png">
          </button>

          <span class="icons_separator"></span>

          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi15.png">
          </button>
          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi4.png">
          </button>
          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi6.png">
          </button>
          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi18.png">
          </button>
          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi2.png">
          </button>
          <button class="btn btn-info button-icon">
            <img src="./assets/images/ssi13.png">
          </button>
        </div>
        <h3 class="card-title">
          <img src="./assets/images/si12.png" class="card_top_icon">
          ASSIGNED EQUIPMENT
        </h3>
      </div>

    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="dataTable row-border table-hover report-table data_table">
        <thead>
        <tr class="first-row">
          <th>ID</th>
          <th>Asset Type</th>
          <th>Assignment Type</th>
          <th>Status</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let assignment of personAssignments">
          <td class="small_text">{{assignment.asset.assetId}}</td>
          <td class="small_text">{{assignment.asset.type?.description}}</td>
          <td class="small_text">{{assignment.asset.allocStatus}}</td>
          <td class="small_text">{{assignment.asset.status}}</td>
          <td>
            <div class="table_options">
              <img (click)="deallocate(assignment)" src="./assets/images/DeAssign-Icon-37x37.png" title="Deallocate" alt="De-assign" class="sbi8" />
              <img (click)="viewDetails(assignment.asset)" src="./assets/images/View-Details-Icon-37x37.png" title="View details" alt="view details" class="sbi8" />
              <img (click)="modify(assignment.asset)" src="./assets/images/Modify-Icon-37x37.png" title="Edit Asset" alt="modify" class="sbi8" />
              <img (click)="repairHistory(assignment.asset)" src="./assets/images/Repair-Icon-37x37.png" title="Repair history" alt="repair history" class="sbi8" />
              <img (click)="allocationHistory(assignment.asset)" src="./assets/images/Allocation-Icon-37x37.png" title="Allocation history" alt="allocate history" class="sbi8" />
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
