<div class="color-block">
  <div class="color-blue">

  </div>
  <div class="color-green">
    <img src="./assets/images/tt_icon1.jpg" class="main_icon">
  </div>
  <div class="color-orange">
    <img src="./assets/images/tt_icon2.jpg" class="main_icon">
  </div>
  <div class="color-red">
    <img src="./assets/images/tt_icon3.jpg" class="main_icon">
  </div>
</div>
