<div class="{{equipmentState}}">
  <span>Rescue<br/>Pack</span>
  <span class="button__badge" *ngIf="assignedRescuePacks.length > 0">{{assignedRescuePacks?.length}}</span>
  <sm-dropdown [assignments]="assignedRescuePacks" [assetTypes]="assetTypes"></sm-dropdown>
  <div class="rescue-img"></div>
</div>
