  <div class="card card-primary right-card-block" style="width:100%" id="assignment-card">
    <div class="card-body">
      <table class="table">
        <thead style="cursor: pointer" (click)="assignment = !assignment">
        <tr>
          <td>Assignment</td>
          <td class="text-right">&nbsp;</td>
          <td class="td-dropdown" colspan="3"><i class="fa fa-angle-{{ !assignment ? 'down' : 'up'}}" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <th>Asset ID</th>
          <th class="text-right">Assigned To</th>
          <th class="show-on-expand">Person ID</th>
          <th class="show-on-expand">Location</th>
          <th class="text-right">Time</th>
        </tr>
        </thead>
        <tbody (show)="assignment">
        <tr *ngFor="let data of assignmentStatistics">
          <td>{{data.equipmentId}}</td>
          <td class="text-right">{{data.assignedTo}}</td>
          <td class="show-on-expand">000000000</td>
          <td class="show-on-expand">0000000</td>
          <td class="text-right">{{data.time}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
