<div class="container">
  <div class="starter-template">
    <h1>Smart Mine Home</h1>
    <p class="lead">This is the default landing page for LMS/AMS which is rebranding to SmartMine. Will figure out what to display</p>
  </div>
</div>
